{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'data.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="secondheader">
        <nav>
            <a href="{% url 'Home' %}"><img src="{% static 'images/logo.png' %}"></a>
            <div class="second-nav-links">
                <ul id="button">
                    <li><a href="{% url 'Home' %}">HOME</a></li>
                    <li><a href="{% url 'About' %}">ABOUT</a></li>
                </ul>
            </div>

        </nav>
    
    <div class="second-text-box">
        <h1>Data Section</h1>
        <p>
            No longer need to read long technical documents cause you have already got evrything you need right here
        </p>
    </div>
    </section>
    <section class="intro">
        <h1>Intro</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </section>
    <div class="row">
        <div class="para">
            <a href="" class="para1">Space Weather</a>
        </div>
        <div class="para">
            <a href="{% url 'Debris' %}" class="para2">Space Debris</a>
        </div>
        <div class="para">
            <a href="" class="para3">Asteroid</a>
        </div>
    </div>
    <div class="clear"></div>
        <section class="footer">
            <h3>About us</h3>
            <p>This is the Voyagers Visionary Team project for The Space Apps Challenge Hackathon 2023</p>
        </section>
</body>
</html>