{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, inital-scale=1.0">
        <title> Home | Voyagers Visionary</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fnts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Inter:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="header">
            <nav>
                <a href=""><img src="{% static 'images/logo.png' %}"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="{% url 'Home' %}">Home</a></li>
                        <li><a href="{% url 'About' %}"> About</a></li>
                    </ul>
                </div>
            </nav>

        <div class="text-box">
            <h1>Space Awareness Open Source Data Visualizer</h1>
            <p>
                No longer need to read long technical documents because you have already got everything you need need right here
            </p>
            <a href="More" class="infobutton">See more</a>
        </div>

        </section>

<!Intro section>

<section class="intro">
    <div class="intro-text-box">
        <h2>Real Time Open Source Database</h2>
        <p>
            Write something here
        </p>
        <a href="{% url 'Data' %}" class="ViewDataButton">See Today Data</a>
    </div>
</section>

<!Access section>
<section class="access">
    <div class="access-text-box">
        <h2>Access the Database</h2>
        <p>
            Write some intro here
        </p>
        <a href="{% url 'Explore' %}" class="accesssourcebutton">Explore</a>
    </div>
</section>

<!Footer section>
<section class="footer">
    <h3>About us</h3>
    <p>This is the Voyagers Visionary Team project for the NASA Space Apps Challenge Hackathon 2023 </p>
</section>

    </body>
</html>