*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
}

nav{
    background: #000;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #ffff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #14CC99;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #ffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
}

.thirdheader{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/anotherbanner.png);
    background-position: left;
    background-size: cover;
    position: relative;
}

.header-text-box{
    color: #ffff;
    margin: 50px;
    width: 400px;
}

.header-text-box h1{
    font-size: 48px;
    text-align: center;
    margin-right: 100px;
}

.header-text-box p{
    font-size: 24px;
    color: #ffff;
    text-align: left;
}