*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Manrope', sans-serif;
}

.secondheader{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/anotherbanner.png);
    background-position: left;
    background-size: cover;
    position: relative;
    animation: fadeIn 2.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.second-nav-links{
    flex: 1;
    text-align: right;
}

.second-nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.second-nav-links ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 13px;
}

.second-nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffff;
    display: block;
    margin: auto;
    transition: 0.32s;
}

.second-nav-links ul li:hover:after {
    width: 100%;
}

.second-text-box{
    color: #ffff;
    margin: 50px;
    width: 400px;
}

.second-text-box h1{
    font-size: 48px;
    text-align: center;
    margin-right: 100px;
}

.second-text-box p{
    font-size: 24px;
    color: #ffff;
    text-align: left;
}


.infobutton {
    display: inline-block;
    padding: 12px 34px; 
    border: 1px solid #ffff; 
    position: relative;
    text-align: center;
    color: #ffff; 
    text-decoration: none; 
    background: transparent; 
    overflow: hidden; 
    transition: background 0.2s; 
    font-size: 13px;
}

.infobutton::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid transparent; 
    background: linear-gradient(to right, #dc2424, #4a569d); 
    background-clip: content-box;
    z-index: -1; 
    transition: all 1s; 
    transform: scaleX(0); 
    background-position: -100% 0; 
}

.infobutton:hover {
    background: transparent; 
    overflow: visible; 
}

.infobutton:hover::before {
    transform: scaleX(1); 
    background-position: 100% 0; 
}


.intro {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.intro-text-box {
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
}

.intro-text-box h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.intro-text-box p {
    margin: 10px 0 30px;
    font-weight: 300;
    line-height: 22px;
    font-size: 16px;
    color: #ffff;
}

.access {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/banner3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.access-text-box {
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    text-align: right;
}

.access-text-box h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px; 
}

.access-text-box p {
    margin: 10px 0 30px;
    font-weight: 300;
    line-height: 22px;
    font-size: 16px;
    color: #ffff;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #000;
}

.footer h3 {
    color: #ffff;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 600;
}

.footer p {
    color: #ffff;
}

.ViewDataButton {
    display: inline-block;
    padding: 12px 34px; 
    border: 1px solid #ffff; 
    position: relative;
    text-align: center;
    color: #ffff; 
    text-decoration: none; 
    background: transparent; 
    overflow: hidden; 
    transition: background 0.2s; 
    font-size: 13px;
}

/* Create the inner border */
.ViewDataButton::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid transparent; 
    background: linear-gradient(to right, #dc2424, #4a569d); 
    background-clip: content-box;
    z-index: -1; 
    transition: all 1s; 
    transform: scaleX(0); 
    background-position: -100% 0; 
}

.ViewDataButton:hover {
    background: transparent; 
    overflow: visible; 
}

.ViewDataButton:hover::before {
    transform: scaleX(1); 
    background-position: 100% 0; 
}

.accesssourcebutton {
    display: inline-block;
    padding: 12px 34px; 
    border: 1px solid #ffff; 
    position: relative;
    text-align: center;
    color: #ffff; 
    text-decoration: none; 
    background: transparent; 
    overflow: hidden; 
    transition: background 0.2s; 
    font-size: 13px;
}

/* Create the inner border */
.accesssourcebutton::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid transparent; 
    background: linear-gradient(to right, #dc2424, #4a569d); 
    background-clip: content-box;
    z-index: -1; 
    transition: all 1s; 
    transform: scaleX(0); 
    background-position: -100% 0; 
}

.accesssourcebutton:hover {
    background: transparent; 
    overflow: visible; 
}

.accesssourcebutton:hover::before {
    transform: scaleX(1); 
    background-position: 100% 0; 
}

.floatleft {
    float: left;
    margin-right: 150px;
}

.floatright {
    float: right;
    margin-left: 150px;
}

.img1 {
    display: block;
}

.img2 {
    display: block;
}

.clear {
    clear: both;
}

#header1 {
    font-size: 34px;
    margin-right: 150px;
    padding: 20px;
}

#header2 {
    font-size: 34px;
    margin-left: 130px;
    padding: 20px;
}

#p1 {
    margin-right: 150px;
    font-size: 20px;
}

#p2 {
    margin-left: 150px;
    font-size: 20px;
}

.left {
    float: left;
    width: 50%;
    margin-right: 50px;
}

.right {
    float: right;
    width: 50%;
    margin-left: 50px;
}

.clear {
    clear: both;
}

.para img{
    display: block;
    width: 100%;
}

.para h1{
    font-size: 36px;
    text-align: center;
    padding: 30px;
}

.para p{
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #000;
}

.footer h3 {
    color: #ffff;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 600;
}

.footer p {
    color: #ffff;
}