{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, inital-scale=1.0">
        <title> About Us | Voyager Visionaries</title>
        <link rel="stylesheet" href="{% static 'style2.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Inter:wght@400;700&family=Manrope:wght@400;600;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="secondheader">
            <nav>
                <a href="index.html"><img src="{% static 'images/logo.png' %}"></a>
                <div class="second-nav-links">
                    <ul>
                        <li><a href="{% url 'Home' %}">Home</a></li>
                        <li><a href=""> About</a></li>
                    </ul>
                </div>

            </nav>

        <div class="second-text-box">
            <h1>About Us</h1>
            <p>
                We are a team of 2 students from the Laurentian University (Canada) and HCMC University of Science (Vietnam). Our team is called Voyager Visionaries. We are passionate about space and we want to make space data more accessible to everyone by building a real time open source database that will be available to everyone. 
            </p>
        </div>
        </section>
        <section class="para">
            <div class="left">
                <img src="{% static 'images/placeholder/street_lighting_lights_134856_1920x1080.jpg' %}">
            </div>
            <h1>Header 1</h1>
            <p>Nullam sit amet quam quis tellus pharetra maximus eu fermentum diam. Etiam ornare quam ante, a feugiat magna venenatis at. Mauris volutpat quam lobortis lobortis laoreet. Quisque sagittis libero magna, sit amet condimentum arcu hendrerit in. Vivamus eu lectus id ligula consequat dictum sed non risus. Sed pellentesque nunc quis bibendum tempor. Donec ultricies libero tellus, non pellentesque leo euismod sed.</p>
        </section>

        <div class="clear"></div>

        <section class="para">
            <div class="right">
                <img src="{% static 'images/placeholder/street_night_wet_155637_1920x1080.jpg' %}">
            </div>
            <h1>Header 2</h1>
            <p>Nullam sit amet quam quis tellus pharetra maximus eu fermentum diam. Etiam ornare quam ante, a feugiat magna venenatis at. Mauris volutpat quam lobortis lobortis laoreet. Quisque sagittis libero magna, sit amet condimentum arcu hendrerit in. Vivamus eu lectus id ligula consequat dictum sed non risus. Sed pellentesque nunc quis bibendum tempor. Donec ultricies libero tellus, non pellentesque leo euismod sed.</p>
        </section>

        <div class="clear"></div>

        <section class="footer">
            <h3>About us</h3>
            <p>This is the Voyager Visionaries Team project for the NASA Space Apps Challenge Hackathon 2023 </p>
        </section>
    </body>